Source: maemo-gpt
Section: user/utilities
Priority: extra
Maintainer: Arno11 <arno11-n900@outlook.com>
Build-Depends: debhelper (>= 10), libglib2.0-dev, libjansson-dev, libcurl4-gnutls-dev, libgtk2.0-dev
Standards-Version: 4.3.0

Package: maemo-gpt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mpg123
Description: ChatGPT GTK2 client.
